/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-09-2017, 15:26:26
    Author     : Mikkel Lindstrøm <Mikkel.Lindstrøm>
*/
#welcome{
    width: 100%x;

}
#shopVindue{
    background: lightgrey;
    float: left;
    width: 200px;
    height: 340px;
    
    margin: 10px;
    margin-bottom: 30px;
    border-style: double;
    border-color: black;
    border-width: 1px;


}
#addKnap{
    float: none;
    padding: auto;
    
    
}
#textColor{
    color: #555;
}
#itemsKurv{
    background: lightgrey;
    box-sizing: border-box;
    height: 400px;
    width: 550px;
    margin: 10px;
    float: left;
    border-style: double;
    border-color: black;
    border-width: 1px;
    overflow-y:auto; 
    overflow: auto;
    color: #555;

}
#finishBtn{
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
}

#orderPrevBtn{
    float: none;
    margin: 0 auto;
    margin-top: 10px;
    width: 60%;
}

#bottomBtn{
    color: #555;
    margin-left: 5%;
    margin-bottom: 5%;
}
#toppingBtn{
    color: #555;
    
    
}
#qua{
    color: #555;
    width: 120px;
    height: 20px;
    margin-left: 15%;
    margin-bottom: 10%
}
#addBtn{
    margin-left: 15%;
}
#shopBody{
    background-color: #D2691E;
    color: #FFFDD0;
}
#totalprice{
    color: #555;
}