/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 3:16:16 PM
    Author     : Christian
*/

/*

     width: 303px;
     height: 303px;
*/

#wholebody {
    background-color: #D2691E;
    color: #FFFDD0;
}

/*
#outernav {
position:relative;
}
#nav {
position:absolute;
left:50%;top:0;
margin-left:-375px;  negative margin equal to half the width 
width:750px;
list-style:none;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:150px;  fixed width 
text-decoration:none; 
}
*/
.navbar{
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 100;
}
.navbar-text{
    
}

.picFrame {
    border: 2px solid #555; 
    height: 520px;
    width: 847px;
    margin-left: auto ;
    margin-right: auto ;
    background-image: url("../Images/cupcakes.jpg");
}

#regForm {
    background-color: #D2691E;
    margin-top: 20px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 480px;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px;
}

#loginForm {
    background-color: #D2691E;
    margin-top: 100px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px; 

}


#adminFrame {
    background-color: #D2691E;
    margin-top: 100px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px; 
    text-align: center;

}
#include{
}
#ordertable{
    margin-top: 5%;
}

#ordersFrame {
    background-color: #FFFFFF;
    margin-top: 0; 
    margin-bottom: 50px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 90%;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 5%;
}


.blackText {
    color: black;
}

#picture {
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 300px;
}

/*SHOPCART UNDER*/
#shopBody{

    background-color: #D2691E;
    color: #FFFDD0;
}
#container2{
    padding-top: 6%;

}
.baggrund {
    border: 2px solid #555; 
    height: 65%;
    width: 80%;
    margin-left: auto ;
    margin-right: auto ;
    background-image: url("../Images/cupcake2.jpg");
}

#shopVindue{
    background: lightgrey;

    width: 18%;
    height: 340px;;

    margin-left:15%;

    margin-top: 2%;
    margin-bottom: 30px;
    margin-right: 2%;
    border-style: double;
    border-color: black;
    border-width: 1px;
    overflow-y:auto; 
}
#textColor{
    color: #555;
}
#itemsKurv{
    background: lightgrey;
    box-sizing: border-box;
    height: 340px;
    width: 45%;
    margin: auto;
    margin-top: 2%;
    float: left;
    border-style: double;
    border-color: black;
    border-width: 1px;
    overflow-y:auto; 
    color: #555;

}
#bottomBtn{
    width: 75%;
    color: #555;
    margin: auto;
    margin-left: 12%;
}
#toppingBtn{
    width: 75%;
    color: #555;
    margin: auto;
    margin-left: 12%;
}
#qua{
    color: #555;
    width: 75%;
    height: 25px;
    margin: auto;
    margin-left: 12%;
    margin-bottom: 5%;
}
#idKnapD{
    margin-top: 5%
}

#totalprice{
    color: #555;
}

#finishBtn{
    float: none;
    margin:auto;
    width: 50%;
}

#orderPrevBtn{
    float: none;
    margin: auto;
    margin-top: 10px;
    width: 50%;
}
/*---------------------------*/