/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 3:16:16 PM
    Author     : Christian
*/

/*

     width: 303px;
     height: 303px;
*/

#wholebody {
    background-color: #D2691E;
    color: #FFFDD0;
}

/*#outernav {
position:relative;
}*/

/*#nav {
position:absolute;
left:50%;top:0;
margin-left:-375px;  negative margin equal to half the width 
width:750px;
list-style:none;
}*/
/*#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:150px;  fixed width 
text-decoration:none; 
}*/



<<<<<<< HEAD


=======
>>>>>>> eedb982a95026f1d11241e20cb15ce14715e04b8
.picFrame {
    border: 2px solid #555; 
    height: 520px;
    width: 847px;
    margin-left: auto ;
    margin-right: auto ;
    background-image: url("../Images/cupcakes.jpg");
}

#regForm {
    background-color: #D2691E;
    margin-top: 20px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 480px;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px;
}

#loginForm {
    background-color: #D2691E;
    margin-top: 100px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px; 

}


#adminFrame {
    background-color: #D2691E;
    margin-top: 100px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px; 
    text-align: center;
}

#ordersFrame {
    background-color: #FFFFFF;
    margin-top: 50px; 
    margin-bottom: 50px; 
    margin-left: auto ;
    margin-right: auto ;
    width: 90%;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    padding-right: 10px; 
}


.blackText {
    color: black;
}






#picture {
    margin-left: auto ;
    margin-right: auto ;
    width: 300px;
    height: 300px;
}

.CShop {
    margin-left: 5px;
}
.DD{
    float: left; 
    width: 150px;
    height: 75px;
    margin-left: 5px;
    margin-bottom: 5px;
}
input[type=text] {
    width: 80%;
}
.logout {
    margin-top: 15px;
    margin-left: 5px;
}
.brugerP{
    margin-left: 10px;
    margin-bottom: 25px;
}
input[type=submit] {
    margin-top: 15px;
}
.checkout{
    margin-left: 475px;
    margin-top: 100px;
}

/*
    
            .CShop {
                margin-left: 5px;
            }
            .DD{
                float: left; 
                width: 150px;
                height: 75px;
                margin-left: 5px;
                margin-bottom: 5px;
            }
            input[type=text] {
                width: 80%;
            }
            .logout {
                margin-top: 15px;
                margin-left: 5px;
            }
            .brugerP{
                margin-left: 10px;
                margin-bottom: 25px;
            }
            input[type=submit] {
                margin-top: 15px;
            }
            .checkout{
                margin-left: 475px;
                margin-top: 100px;
            }
*/


#shopBody{
    background-color: #D2691E;
    color: #FFFDD0;
}

#shopVindue{
    background: lightgrey;
    float: left;
    width: 200px;
    height: 340px;

    margin: 10px;
    margin-bottom: 30px;
    border-style: double;
    border-color: black;
    border-width: 1px;
}
#textColor{
    color: #555;
}
#itemsKurv{
    background: lightgrey;
    box-sizing: border-box;
    height: 340px;
    width: 50%;
    margin: 10px;
    float: left;
    border-style: double;
    border-color: black;
    border-width: 1px;
    overflow-y:auto; 
    color: #555;

}
#bottomBtn{
    color: #555;
    margin-left: 5%;
    margin-bottom: 5%;
}
#toppingBtn{
    color: #555;
}
#qua{
    color: #555;
    width: 120px;
    height: 25px;
    margin-left: 15%;
    margin-bottom: 5%;
}
#idKnapD{
    margin-top: 5%
}

#totalprice{
    color: #555;
}

#finishBtn{
    float: none;
    margin: 0 auto;
    width: 60%;
}

#orderPrevBtn{
    float: none;
    margin: 0 auto;
    margin-top: 10px;
    width: 60%;
}