/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-09-2017, 15:26:26
    Author     : Mikkel Lindstrøm <Mikkel.Lindstrøm>
*/
  .CShop {
                margin-left: 5px;
            }
            .DD{
                float: left;
                width: 150px;
                height: 75px;
                margin-left: 5px;
                margin-bottom: 5px;
            }
            input[type=text] {
                width: 80px;
                height: 20px;
            }
            .logout {
                margin-top: 15px;
                margin-left: 5px;
            }
            .brugerP{
              
                    
            }
            input[type=submit] {
                margin-top: 15px;
            }
            .checkout{
                margin-left: 475px;
                margin-top: 100px;
            }
            #welcome{
                width: 100%x;
               
            }
            #shopVindue{
                width: 500px;
               
                
            }
            #addKnap{
                float: right;
                width: 40px;
                height: 30px;
                
            }
            #itemsKurv{
                float: left;
                
            }